@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&family=Bungee+Shade&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Lexend Deca", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0f5f8;
}
.footer-container {
  position: fixed;
  bottom: 0;
  align-items: center;
}
h2 {
  font-family: "Lexend Deca", sans-serif;
  font-size: 25px;
  padding: 0;
  margin: 0;
  color: #00b3ff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #00b3ff;
  color: white;
  padding-inline: 4em;
}

header h1 {
  font-family: "Bungee Shade", sans-serif;
  margin: 0;
  font-size: 40px;
}

header form input[type="text"],
header form input[type="date"] {
  font-family: "Lexend Deca", sans-serif;
  background: url("assets/icon/bx-search.svg") no-repeat right;
  border: none;
  background-color: white;
  color: #00b3ff;
  background-size: 31px;
  border-radius: 9px;
  padding: 10px 30px;
  box-sizing: border-box;
  font-size: 15px;
}

header form button img {
  padding-top: 3px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin-inline: 1em;
  margin-top: 1em;
}

.container {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  width: 30vw;
  border-radius: 8px;
  margin: 16px;
  background: #ffffff;
  padding: 15px;
  height: fit-content;
}
.container2 {
  width: 30vw;
  border-radius: 8px;
  margin: 16px;
  background: #ffffff;
  padding: 16px;
  height: fit-content;
}
.input_inline {
  color: #00b3ff;
  gap: 10px;
}
.item {
  border-radius: 16px;
  margin-top: 16px;
  padding: 7px 15px 7px 15px;
  background: #00b3ff;
  color: white;
  display: flex;
  align-items: center;
}

.item > .inner h2 {
  margin-bottom: unset;
  font-size: 20px;
  color: white;
}

.item > .inner p {
  margin-top: 5px;
  font-size: 12px;
}

.form {
  display: flex;
  padding: 10px 16px;
  flex-direction: column;
  border-radius: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 4px;
  font-size: 15px;
  font-weight: lighter;
}

.shadow {
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.4);
}
input[type="text"],
input[type="date"] {
  font-family: "Lexend Deca", sans-serif;
  background: #ffffff;
  border: 2px solid #00b3ff;
  color: #00b3ff;
  border-radius: 8px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 8px;
  font-size: 17px;
}

/* .btn-submit {
  width: fit-content;
  border-radius: 39px;
  padding: 13px 108px;
  border: 2px solid #f87ace;
  color: #f87ace;
  font-size: 17px;
  font-weight: 600;
  margin-top: 15px;
  align-self: flex-end;
  cursor: pointer;
} */
.line-btn-check {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.btn-submit {
  width: 100%;
  border-radius: 15px;
  padding: 8px 19px;
  border: 2px solid #00b3ff;
  color: #00b3ff;
  background-color: transparent;
  font-size: 17px;
  font-weight: 600;
  align-self: flex-end;
  cursor: pointer;
}

.btn-submit:hover {
  background: #00b3ff;
  color: white;
}

.btn-reset {
  /* position: absolute; */
  width: 100%;
  border-radius: 15px;
  right: 11em;
  bottom: 11.5em;
  padding: 8px 19px;
  border: 2px solid #00b3ff;
  color: #00b3ff;
  background-color: transparent;
  font-size: 17px;
  font-weight: 600;
  /* align-self: flex-end; */
  cursor: pointer;
}

.btn-reset:hover {
  background: #00b3ff;
  color: white;
}

input[type="text"],
input[type="date"],
.btn-submit:focus {
  outline: none;
  color: rgb(130, 205, 255);
}

.text-center {
  text-align: center;
}

.form-title {
  margin: auto 0;
}

.check-button {
  width: 40px;
  height: 40px;

  background: url("assets/icon/check-outline.svg") no-repeat;
  background-size: 25px;
  margin-left: auto;
  cursor: pointer;
  border: none;
}

.check-button:hover {
  background: url("assets/icon/check-solid.svg") no-repeat;
  background-size: 25px;
}

.trash-button {
  width: 40px;
  height: 40px;

  background: url("assets/icon/trash-outline.svg") no-repeat;
  background-size: 25px;
  margin-left: 16px;
  cursor: pointer;
  border: none;
}

.trash-button:hover {
  background: url("assets/icon/trash-fill.svg") no-repeat;
  background-size: 25px;
}

.edit-button {
  width: 40px;
  height: 40px;
  background: url("assets/icon/edit-bx.svg") no-repeat;
  background-size: 25px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
}
.edit-button:hover {
  background: url("assets/icon/edit-bxs.svg") no-repeat;
  background-size: 25px;
}
.undo-button {
  width: 25px;

  margin-left: auto;
  margin-bottom: 9px;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}

.undo-button:hover {
  transform: rotate(-360deg);
}

.check-button:focus,
.trash-button {
  outline: none;
}
#total-books {
  padding: auto;
  margin: 0;
  margin-bottom: 15px;
  font-size: 60px;
}
.jmlh-book {
  margin-top: 1.5em;
  padding: 0;
  font-size: 20px;
  border: 2px solid #00b3ff;
  color: #00b3ff;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
}

.hide {
  display: none;
}
/* .no-list {
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 10px;
  left: 1215px;
  top: -20em;
  background-color: white;
  box-shadow: 1px 0px 100px #91989b;
  width: 5%;
} */
.picture {
  background: url("assets/icon/bxs-error-circle.svg") no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 10px;
  left: 1215px;
  top: -20em;
  background-color: white;
  border: none;
}

/* ==========RESPONSIVE========== */

@media screen and (max-width: 1500px) {
  .btn-submit {
    padding: 8px 8px;
  }
  .wrapper {
    /* width: 20%; */
    flex-direction: column;
    align-items: center;
  }
  .container,
  .container2 {
    width: 40%;
  }

  .container2 .container-header {
    text-align: center;
  }
  .btn-reset {
    right: 10em;
    padding: 8px 15px;
  }
}
@media screen and (max-width: 1300px) {
  .btn-submit {
    padding: 8px 8px;
  }
  .btn-reset {
    right: 10em;
    padding: 8px 15px;
  }
  .container2 .container-header {
    text-align: center;
  }
}
@media screen and (max-width: 1180px) {
  .btn-submit {
    padding: 8px 8px;
  }
  .wrapper {
    /* width: 20%; */
    flex-direction: column;
    align-items: center;
  }
  .container,
  .container2 {
    width: 60%;
  }

  .container2 .container-header {
    text-align: center;
  }
  .btn-reset {
    right: 10em;
    padding: 8px 15px;
  }
}

@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  header h1 {
    margin-left: 7px;
  }

  header form {
    margin-top: -10px;
    margin-bottom: 20px;
    margin-right: 0;
  }

  header form input[type="text"],
  header form input[type="date"] {
    padding: 10px 9em 10px 10px;
  }

  .wrapper {
    flex-direction: column;
    align-items: center;
    margin-inline: 0;
  }

  .wrapper .container {
    width: 90%;
  }
  .container2 {
    width: 90%;
  }

  .jmlh-book {
    margin-top: 1.5em;
  }

  .container2 .container-header {
    text-align: center;
  }

  .list-item {
    width: 100%;
    margin-left: 0;
  }

  .picture {
    /* margin-left: 10em; */
    margin-top: 0em;
  }
}
